<hr>
<h3>You are logged in as {{user.name}}. <a href="/logout" class="btn btn-danger">Logout</a></h3>
<hr>
<div class="jumbotron">
  <h1>Welcome</h1>
  <p>View you and your friends' impact on social media here!</p>
  <p><a class="btn btn-primary" href="/visualization">View D3 Graph</a> | <a  class="btn btn-primary" href="/c3visualization">View C3 Graph</a> | <a class="btn btn-primary" href="/myvisualization">View a New D3 Graph</a></p>
</div>



