<br/>
<div class="jumbotron">
  <h1>Cogs121huehue</h1>
  <p>View your impact on social media via Instagram, and see how you rank amongst your friends!</p>
  <p><a class="btn btn-primary btn-lg" href="/auth/instagram" role="button">Login</a></p>
</div>
