.box {
	border : 1px solid black;
	height: 300px;
	width: 500px;
}
.barchartloading, .linechartloading, #lineprogress, #barprogress {
  z-index: 500;
  position: absolute;
}


.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.btn-xl {
    padding: 18px 28px;
    font-size: 22px;
    border-radius: 8px;
}

.btn-default {
  border-color: white;
}

.btn-default:hover {
  background-color: white;
}
.btn-ghost{
  font-family: helvetica;
  letter-spacing: 5px;
  background: transparent;
  color: #FFFFFF;

  /* CSS Transition */
  -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
  -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
  -ms-transition: background .2s ease-in-out, border .2s ease-in-out;
  -o-transition: background .2s ease-in-out, border .2s ease-in-out;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

div#spinner
{
    display: none;
    width:128px;
    height: 128px;
    position: fixed;
    top: 50%;
    left: 50%;
    background:url(http://www.ffetch.com/app/webroot/img/loading-spinner11.gif) no-repeat center;
    text-align:center;
    padding:10px;
    font:normal 16px Tahoma, Geneva, sans-serif;
    margin-left: -50px;
    margin-top: -50px;
    z-index:2;
    overflow: auto;
}

.d3-tip {
	background-color: rgba(0, 0, 0, 0.4);
	padding-bottom : 3px;
	padding-top : 3px;
	padding-left : 3px;
	padding-right : 3px;
	border: 1px solid black;
}

p.tip {
	color: white;
	font-size: 1.25em;
}

#map {
}

#linegraphs {
    margin-top: -1px;
}

.bar {
    /*background-color: steelblue;*/
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
}

.chart {
    margin-top: 5px;
    margin-bottom: 5px;
}
body, html {
  height: 100%;
}
body {
    font-family: Helvetica, Arial, sans-serif;
}

.landing {
}

#landing-text {
    margin-top: 5%;
    font-size: 7em;
    color: white;
    letter-spacing: 15px;
}

#landingImage {
    height: inherit;
    width: inherit;
}

.landingImageContainer {
    margin-left: -15px;
    padding-right: 0;
    position: fixed;
}

#mapdiv, #linegraphdiv, #map, #barcharts,#linegraphs, #text {
    background-color: white !important;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

#description{
  margin-left:20%;
  margin-right:20%;
  color:white;
  font-size:20px;
}

.background {
    fill: #FFFFFF;
    fill-opacity: 0.01;
}

.component {
    fill: #e1e1e1;
}

.component .label {
    font-family: Myriad, "Helvetic Neue", Helvetica, Arial;
    text-anchor: middle;
    fill: #0000FF;
}

.arc {
    stroke-weight:0.1;
    fill: #4e8fff;
}


.arc2 {
    stroke-weight:0.1;
    fill: #3660b0;
}


.label {
    font-family:  Myriad, "Helvetic Neue", Helvetica, Arial;
    text-anchor: middle;
}

.radial-svg {
    display: block;
    margin-left: 20px;
}